<mat-toolbar>
  <H1>Baguette Ipsum</H1>
  <p>When your filler text needs to taste like coffee and cigarettes</p>
</mat-toolbar>
<div class="content">
  <div class="settings">
    <button
      mat-raised-button
      color="primary"
      (click)="getBaguette()"
      class="settings-element"
    >
      Generate Baguette
    </button>
  </div>
  <mat-card>
    <p *ngFor="let paragraph of ipsums">
      {{ paragraph }}
    </p>
  </mat-card>
</div>
<div class="footer">
  Baguette Ipsum is not responsible for placeholder text forgotten on corporate
  slides, eating the crusty end of the baguette, dangerous beret inclinations
  and any roadside sacrebleus. No French was hurt in the building of this
  generator.
</div>
